%p#notice= notice
.wrapper
  .main-title
    = t'.title'
  .main-menu
    .main-menu-title
      =t '.Menu'
    .main-menu-items
      %ol
        %li 
          =t '.Eating'
        %li 
          =t '.Shopping'
        %li 
          =t '.Bathing'
        %li 
          =t '.Traveling'
        %li 
          =t '.Invited'
    .main-menu-comments
      = link_to "New Comment", new_comment_path
  .contents
    = t '.hello'
  
-# %p#notice= notice
-# %p
-#   %strong Name:
-#   = @comment.name
-# %p
-#   %strong Content:
-#   = @comment.content
-# = link_to 'Edit', edit_comment_path(@comment)
-# |
-# = link_to 'Back', comments_path
